APPDYNAMICS_CONTROLLER_HOST_NAME=${ADWRKSHP_CONTROLLER_HOST}
APPDYNAMICS_CONTROLLER_PORT=${ADWRKSHP_CONTROLLER_PORT}
APPDYNAMICS_CONTROLLER_SSL_ENABLED=${ADWRKSHP_CONTROLLER_SSL_ENABLED}
APPDYNAMICS_AGENT_APPLICATION_NAME=${ADWRKSHP_APM_APP_NAME}